{% extends "base.html" %}
{% block title %}Client List{% endblock %}
{% block content %}
<h1>Client List</h1>
<a href="{% url 'client_create' %}">Add New Client</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Details</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.contact_details }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
